beautifulsoup4==4.14.2
comtypes==1.4.13
fastapi==0.121.2
httpx==0.28.1
openai==2.8.0
pycaw==20251023
pydantic==2.12.4
pygame==2.6.1
PyPDF2==3.0.1
pytest==8.4.2
python-dotenv==1.2.1
python_docx==1.2.0
PyYAML==6.0.3
rapidfuzz==3.14.3
Requests==2.32.5
sounddevice==0.5.3
speechrecognition==3.14.3
uvicorn==0.38.0
websockets==15.0.1
yt_dlp==2025.11.12
